 @import "tailwindcss";

 * {
   font-family: Noto Serif;
 }

 /* ............. */

 .none {
   display: none;
 }

 /* ............. */


 .open-sans {

   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings:
     "wdth" 100;
   background-color: rgb(245, 248, 255);
 }

 /** Share Styles  **/

 span {
   color: #E95A08;

 }

 .btn {
   background-color: #E95A08;
   padding-right: 70px;
   padding-left: 70px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: white;
   cursor: pointer;
 }


 /** Nav Section Styles **/

 .nav-items {
   max-width: 85%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   margin-top: 20px;
 }

 .nav-link {
   display: flex;
   gap: 35px;
   text-align: center;
   align-items: center;
   margin-top: 30px;
 }

 .nav-items img {
   max-width: 100%;
   max-height: 100%;
   text-align: center;
   align-items: center;
 }

 .nav-link i {
   margin-right: 10px;
 }

 .home-link {
   color: black;
   font-weight: 700;
 }

 .Shop-about {
   color: #8987A1;
 }

 /** Hero Section Styles **/

 .hero-section {
   display: flex;
   max-width: 87%;
   margin: 0 auto;
   margin-top: 120px;
   justify-content: space-between;
   align-items: end;
 }

 .hero-text p {
   font-size: 22x;
   cursor: default;

 }

 .hero-photo img {
   max-width: 100%;
   max-height: 100%;
 }

 /** Plants Section Styles **/

 .Plants-section {
   max-width: 85%;
   margin: 0 auto;
   margin-top: 120px;
 }

 .Plant-text p {
   margin: 0 auto;
   margin-top: 20px;
   color: #000000;
   margin-bottom: 60px;
   cursor: default;
 }

 .card-1 img {
   max-width: 90%;
   max-height: 90%;
   display: flex;
   justify-content: center;
   margin-left: 15px;
 }

 .price {
   font-weight: bold;
   text-align: center;
   margin-bottom: 20px;
   cursor: default;
 }

 .Plant-title {
   font-size: 20px;
   font-weight: 400;
   color: black;
   text-align: center;
   margin-top: 20px;
   cursor: default;
   font-family: Noto Serif;
 }

 .card-1 {
   max-width: 270px;
 }


 .Plants-card {
   display: grid;
   grid-template-columns: auto auto auto auto;
   row-gap: 25px;
   column-gap: 0px;
   text-align: center;
   align-items: center;
 }

 /* plants lover section */

 .plants-lover-section {
   max-width: 85%;
   margin: 0 auto;
   display: flex;
   margin-top: 200px;
   margin-left: 200px;
   position: relative;
 }

 .plants-lover-section h1 {
   font-size: 50px;
   font-weight: bold;
   max-width: 450px;
   cursor: default;
 }

 .plants-lover-section ul li {
   list-style: inside;
   font-weight: 400;
   cursor: default;


 }

 .plants-lover-section img {
   max-width: 100%;
   max-height: 90%;
   display: flex;
 }

 .inter {
   max-width: 480px;
 }

 .text-style {
   color: black;
   text-align: left;
   padding-left: 20px;

 }

 .plants-lover-text {
   max-width: 540px;
   margin-top: 40px;
 }

 #badge-photo {
   max-width: 230px;
   position: absolute;
   left: 340px;
   bottom: 460px;
 }

 /* join section */

 .join-title {
   font-size: 3rem;
   font-weight: bold;
   color: white;
   cursor: default;
   margin-bottom: 25px;
   margin-left: 150px;
   font-family: Noto Serif;

 }

 .join-btn {
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 11px;
   padding-bottom: 11px;
   cursor: pointer;
   position: absolute;


 }

 .join-input {
   padding: 10px 440px 10px 20px;
   position: relative;
   background-color: white;
   color: rgb(0, 0, 0);
   align-items: center;

 }

 .join-section {
   max-width: 1440px;
   max-height: 533px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   background-image: url(/assets/news-letter-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 180px;
   padding-right: 230px;
   margin: 0 auto;

 }

 .join-items {
   max-width: 850px;
   margin-right: 150px;
 }




 /* footer section */
 .section-footer {
   display: flex;
   justify-content: space-around;
   padding: 30px;
 }

 .logo-img-footer {
   max-width: 359px;
 }

 .logo-img-footer p {
   margin-top: 2px;
 }

 .footer-link {
   max-width: 84px;
   max-height: 248px;

 }

 .footer-logo {
   max-width: 216px;
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 30px;

 }


 .section-footer div {
   display: grid;
 }

 .link-a {
   margin-bottom: 30px;
 }

 #footer-text {
   font-size: 21px;
 }

 /** Latest Section Style **/

 .latest-section h2 {
   font-size: 50px;
   font-weight: bold;
   text-align: center;
   cursor: default;
   margin-bottom: 10px;
 }

 .latest-section {
   align-items: center;
   text-align: center;
   display: flex;
   justify-content: center;
   margin-top: 120px;
   margin-bottom: 120px;
 }


 .latest-section p {
   font-size: 22px;
   text-align: center;
   align-items: center;
   max-width: 888px;
   cursor: default;
 }

 /*plant photo section style*/

 .plant-photo-section {
   display: flex;
   justify-content: center;
   gap: 20px;
   max-width: 1140px;
   margin: 0 auto;
   margin-bottom: 50px;

 }


 .off-title {
   font-size: 20px;
   font-weight: bold;
   color: white;
 }

 .plant-link {
   color: white;
   font-size: 16px;
   font-weight: 700;
   text-align: center;
   align-items: center;
 }

 .Off-style {
   font-size: 40px;
   font-weight: bold;
   color: white;
 }

 .plant-photo-title {
   text-align: center;
 }

 .photo-1 {
   background-image: url(/assets/deal-bloom.png);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 367px;
   padding: 50px;
   margin-bottom: 30px;
   border-radius: 10px;

 }

 .photo-2 {
   background-image: url(/assets/deal-ana.png);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 367px;
   padding: 50px;
   margin-bottom: 30px;
   border-radius: 10px;
 }

 .photo-3 {
   background-image: url(/assets/deal-zabo.png);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 753px;
   padding: 100px;
   padding-top: 130px;
   margin-bottom: 30px;
   border-radius: 10px;
 }


 .none {
   display: none;
 }

 /* ------------------- RESPONSIVE DESIGN ------------------- */

 @media screen and (max-width:576px) {

   /* nav section */
   .nav-section {
     max-width: 100%;
     max-width: 100%;
     margin: auto;

     text-align: center;
     align-items: center;

     text-align: center;
     align-items: center;
   }

   /* hero section */
   .hero-section {
     display: flex;
     flex-direction: column-reverse;
     max-width: 100%;
     margin: auto;
   }

   .hero-section h2 {
     font-size: xx-large;
     margin-top: 50px;
   }

   .hero-section h3 {
     font-size: xx-large;
     margin-top: 8px;
   }

   .hero-photo {
     max-width: 85%;
   }

   /* Our Plants section */
   section.hero-section {
     display: flex;
     flex-direction: column-reverse;
   }

   .Plants-section h2 {
     font-size: 28px;
     font-weight: bold;
   }

   .Plants-card {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 6px;
     margin: 0;
     padding: 0px;
     width: 100%;
   }

   .btn {
     background-color: #E95A08;
     margin-bottom: 15px;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 8px;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
   }

   .btn:hover {
     background-color: #cc4b05;
     transform: scale(1.05);
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
   }

   /**plants-lover-section **/
   .plants-lover-section {
     display: flex;
     flex-direction: column;
     max-width: 85%;
     margin: auto;
     margin-top: 4rem;
   }

   .plants-lover-text h1 {
     font-size: xx-large;
     font-weight: bold;
     margin-bottom: 20px;
   }

   .plants-lover-text li {
     font-size: 14px;
     color: #7c7171;
   }

   .plants-lover-text span {
     color: #6d5f5f;
   }

   /**latest-section **/

   .latest-section h2 {
     font-size: xx-large;
     font-weight: bold;
   }

   .latest-section p {
     font-size: 15px;
     max-width: 450px;
   }

   /**plant-photo-section **/

   .plant-photo-section {
     display: flex;
     flex-direction: column;
     max-width: 85%;
   }

   .photo-1 {
     border-radius: 20px;
     padding: 70px;
     max-width: 450px;
   }

   .photo-1 h4 {
     margin-bottom: 12px;
   }

   .photo-2 {
     border-radius: 20px;
     padding: 70px;
     max-width: 460px;
   }

   .photo-2 h4 {
     margin-bottom: 12px;
   }

   .photo-3 {
     border-radius: 20px;
     padding: 70px;
     max-width: 460px;
   }

   .photo-3 h4 {
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 12px;
   }



   /** join section **/

   .join-section {
     padding: 120px;
     padding-right: 120px;
     max-width: 100%;
   }

   input.join-input {
     padding: 10px 45px;
     margin-left: 100px;
     margin-right: 60px;
     position: relative;
   }

   .join-title {
     font-size: 20px;
     font-weight: bold;
   }

   .subscribe-btn {
     border-radius: 0px 15px 15px 0px;
     position: absolute;
     right: 22px;
   }

   /**footer section**/
   section.section-footer {
     max-width: 85%;
     display: grid;
     grid-template-columns: auto;
     gap: 20px;
   }

   .logo-img-footer {
     margin-bottom: 15px;
   }

   .section-footer p {
     margin-bottom: 20px;
   }

   .section-footer div {
     display: grid;
     gap: 20px;
   }



   .footer-logo {
     max-width: 216px;
     display: grid;
     grid-template-columns: auto auto auto auto;
     gap: 30px;
     text-align: center;
     align-items: center;
   }

   #footer-text {
     font-size: 22px;
     color: #6d5f5f;
   }

   .section-footer a {
     color: #6d5f5f;
     margin-bottom: 15px;
   }

 }