.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: rgb(245, 248, 255);
}

/** Share Styles  **/

span {
  color: #E95A08;

}


/** Nav Section Styles **/

.nav-items {
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.nav-link {
  display: flex;
  gap: 35px;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.nav-items img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  align-items: center;
}

.nav-link i {
  margin-right: 10px;
}

.home-link {
  color: black;
  font-weight: 700;
}

.Shop-about {
  color: #8987A1;
}

/** Hero Section Styles **/

.hero-section {
  display: flex;
  max-width: 87%;
  margin: 0 auto;
  margin-top: 120px;
  justify-content: space-between;
  align-items: end;
}

.hero-text p {
  font-size: 22x;


}

.hero-photo img {
  max-width: 100%;
  max-height: 100%;
}

/** Plants Section Styles **/

.Plants-section {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 120px;
}

.Plant-text p {
  margin: 0 auto;
  margin-top: 20px;
  color: #000000;
  margin-bottom: 60px;
}

.card-1 img {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.price {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.Plant-title {
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-align: center;
  margin-top: 20px;
}

.card-1 {
  max-width: 270px;
}

.btn {
  background-color: #E95A08;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.Plants-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 25px;
  column-gap: 0px;
  text-align: center;
  align-items: center;
}

/* plants lover section */

.plants-lover-section {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  margin-top: 200px;
  margin-left: 200px;
  position: relative;
}

.plants-lover-section h1 {
  font-size: 50px;
  font-weight: bold;
  max-width: 450px;
}

.plants-lover-section ul li {
  list-style: inside;
  font-weight: 400;



}

.plants-lover-section img {
  max-width: 100%;
  max-height: 90%;
  display: flex;
}

.inter {
  max-width: 480px;
}

.text-style {
  color: black;
  text-align: left;
  padding-left: 20px;

}

.plants-lover-text {
  max-width: 540px;
  margin-top: 40px;
}

#badge-photo {
  max-width: 230px;
  position: absolute;
  left: 340px;
  bottom: 460px;
}

/* join section */